---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/income?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '1000'
      Iexcloud-Premium-Messages-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"MSFT","income":[{"reportDate":"2020-09-30","fiscalDate":"2020-09-30","currency":"USD","totalRevenue":37154000000,"costOfRevenue":11002000000,"grossProfit":26152000000,"researchAndDevelopment":4926000000,"sellingGeneralAndAdmin":5350000000,"operatingExpense":21278000000,"operatingIncome":15876000000,"otherIncomeExpenseNet":248000000,"ebit":15876000000,"interestIncome":589000000,"pretaxIncome":16124000000,"incomeTax":2231000000,"minorityInterest":0,"netIncome":13893000000,"netIncomeBasic":13893000000}]}'
  recorded_at: Sat, 07 Nov 2020 21:59:07 GMT
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/insider-transactions?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '3100'
      Iexcloud-Premium-Messages-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"conversionOrExercisePrice":null,"directIndirect":"I","effectiveDate":1582934400000,"filingDate":"2020-06-08","fullName":"Nadella
        Satya","is10b51":false,"postShares":52250,"reportedTitle":"Chief Executive
        Officer","symbol":"MSFT","transactionCode":"G","transactionDate":"2020-02-29","transactionPrice":null,"transactionShares":-52250,"transactionValue":null,"id":"INSIDER_TRANSACTIONS","key":"MSFT","subkey":"0001626431-20-000039","date":1582934400000,"updated":1606805344000,"tranPrice":null,"tranShares":-52250,"tranValue":null},{"conversionOrExercisePrice":null,"directIndirect":"I","effectiveDate":1588291200000,"filingDate":"2020-05-04","fullName":"Johnson
        Margaret L","is10b51":false,"postShares":256170,"reportedTitle":"EVP, Business
        Development","symbol":"MSFT","transactionCode":"S","transactionDate":"2020-05-01","transactionPrice":176.08,"transactionShares":-35000,"transactionValue":6162800,"id":"INSIDER_TRANSACTIONS","key":"MSFT","subkey":"0001626431-20-000034","date":1588291200000,"updated":16[...]
