---
http_interactions:
- request:
    method: get
    uri: https://api.cloudquote.io/benzinga/getGuidance.json?T=0l72l9v52cq&date_from=2021-01-05&date_to=2021-01-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1500-a8lUUlLAlZyKxnMSGG9W1/xpqAw"
    body:
      encoding: ASCII-8BIT
      string: '{"rows":[{"id":"5ff4dbbb2bbc220001d6f1cd","date":"2021-01-05","time":"16:35:55","ticker":"PROF","exchange":"NASDAQ","name":"Profound
        Medical","period":"FY","period_year":2020,"is_primary":"Y","prelim":"Y","currency":"USD","eps_type":"","eps_guidance_est":"","eps_guidance_max":"","eps_guidance_min":"","eps_guidance_prior_max":"","eps_guidance_prior_min":"","revenue_type":"GAAP","revenue_guidance_est":"","revenue_guidance_max":"9700000.000","revenue_guidance_min":"9700000.000","revenue_guidance_prior_max":"","revenue_guidance_prior_min":"","importance":0,"notes":"","updated":1609882616},{"id":"5ff4dbba2bbc220001d6f1cb","date":"2021-01-05","time":"16:35:54","ticker":"PROF","exchange":"NASDAQ","name":"Profound
        Medical","period":"Q4","period_year":2020,"is_primary":"Y","prelim":"Y","currency":"USD","eps_type":"","eps_guidance_est":"","eps_guidance_max":"","eps_guidance_min":"","eps_guidance_prior_max":"","eps_guidance_prior_min":"","revenue_type":"GAAP","revenue_guidance_est":"","revenue_guidance_max":"3700000.000","revenue_guidance_min":"3700000.000","revenue_[...]
