---
http_interactions:
- request:
    method: get
    uri: https://api.cloudquote.io/benzinga/getGuidance.json?T=0l72l9v52cq&date_from=2020-12-11&date_to=2021-01-09
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"76f1-AxkmQK+pYDndlszqTKOYubvjgB4"
    body:
      encoding: ASCII-8BIT
      string: '{"rows":[{"id":"5ff8d2db2bbc2200012e1f45","date":"2021-01-08","time":"16:47:07","ticker":"NTUS","exchange":"NASDAQ","name":"Natus
        Medical","period":"Q4","period_year":2020,"is_primary":"Y","prelim":"Y","currency":"USD","eps_type":"Adj","eps_guidance_est":"0.240","eps_guidance_max":"0.310","eps_guidance_min":"0.190","eps_guidance_prior_max":"0.310","eps_guidance_prior_min":"0.190","revenue_type":"GAAP","revenue_guidance_est":"110000000.000","revenue_guidance_max":"119000000.000","revenue_guidance_min":"118000000.000","revenue_guidance_prior_max":"114000000.000","revenue_guidance_prior_min":"104000000.000","importance":0,"notes":"","updated":1610142490},{"id":"5ffbfe212bbc2200012e2023","date":"2021-01-08","time":"16:20:42","ticker":"BOOT","exchange":"NYSE","name":"Boot
        Barn Holdings","period":"Q3","period_year":2021,"is_primary":"Y","prelim":"Y","currency":"USD","eps_type":"Adj","eps_guidance_est":"0.870","eps_guidance_max":"0.990","eps_guidance_min":"0.990","eps_guidance_prior_max":"","eps_guidance_prior_min":"","revenue_type":"GAAP","revenue_guidance_est":"299480000.000","revenue_guidance_max":"302300000.000","revenue_guid[...]
