---
http_interactions:
- request:
    method: get
    uri: https://api.nasdaq.com/api//quote/GME/short-interest?assetClass=stocks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Lang:
      - en
      Srctype:
      - default
      Rid:
      - 8ffe6442-74de-4365-a73f-e6ce7a9993bd
      Gid:
      - '0232'
      X-Edgeconnect-Midmile-Rtt:
      - '0'
      - '0'
      X-Edgeconnect-Origin-Mex-Latency:
      - '29'
      - '29'
    body:
      encoding: UTF-8
      string: '{"data":null,"message":"Short interest is not available. Short interest
        is only supported for Nasdaq Listed stocks","status":{"rCode":200,"bCodeMessage":null,"developerMessage":null}}'
  recorded_at: Sun, 07 Feb 2021 04:27:56 GMT
recorded_with: VCR 6.0.0
