---
http_interactions:
- request:
    method: get
    uri: https://api.nasdaq.com/api//quote/TSLA/short-interest?assetClass=stocks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Lang:
      - en
      Srctype:
      - default
      Rid:
      - 6b18c50b-6c3a-4749-aea6-0703ba83a12c
      Gid:
      - '0131'
    body:
      encoding: UTF-8
      string: '{"data":{"symbol":"tsla","shortInterestTable":{"headers":{"settlementDate":"SETTLEMENT
        DATE","interest":"SHORT INTEREST","avgDailyShareVolume":"AVG. DAILY SHARE
        VOLUME","daysToCover":"DAYS TO COVER"},"rows":[{"settlementDate":"01/15/2021","interest":"56,367,815","avgDailyShareVolume":"42,129,010","daysToCover":1.337981},{"settlementDate":"12/31/2020","interest":"60,620,873","avgDailyShareVolume":"53,167,583","daysToCover":1.140185},{"settlementDate":"12/15/2020","interest":"45,227,476","avgDailyShareVolume":"46,979,875","daysToCover":1.000000},{"settlementDate":"11/30/2020","interest":"46,499,466","avgDailyShareVolume":"45,096,494","daysToCover":1.031110},{"settlementDate":"11/13/2020","interest":"[...]
