---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/AAPL/insider-transactions?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '1850'
      Iexcloud-Premium-Messages-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"conversionOrExercisePrice":null,"directIndirect":"D","effectiveDate":1580688000000,"filingDate":"2020-02-04","fullName":"LEVINSON
        ARTHUR D","is10b51":false,"postShares":1133280,"reportedTitle":null,"symbol":"AAPL","transactionCode":"S","transactionDate":"2020-02-03","transactionPrice":304.11,"transactionShares":-1429,"transactionValue":434573,"id":"INSIDER_TRANSACTIONS","key":"AAPL","subkey":"0000320193-20-000021","date":1580688000000,"updated":1610580919000,"tranPrice":304.11,"tranShares":-1429,"tranValue":434573},{"conversionOrExercisePrice":null,"directIndirect":"D","effectiveDate":1582675200000,"filingDate":"2020-02-28","fullName":"WAGNER
        SUSAN","is10b51":false,"postShares":854,"reportedTitle":null,"symbol":"AAPL","transactionCode":"A","transactionDate":"2020-02-26","transactionPrice":null,"transactionShares":854,"transactionValue":null,"id":"INSIDER_TRANSACTIONS","key":"AAPL","subkey":"0000320193-20-000035","date":1582675200000,"updated":1606370196000,"tranPrice":null,"tranShares":854,[...]
