---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/upcoming-events?fullUpcomingEarnings=true&token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: The API key provided is not valid.
  recorded_at: Wed, 03 Feb 2021 02:30:37 GMT
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/upcoming-events?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '10'
      Iexcloud-Premium-Messages-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"earnings":[],"dividends":[{"amount":0.56,"currency":"USD","declaredDate":"2020-12-02","description":"Ordinary
        Shares","exDate":"2021-02-17","flag":"Cash","frequency":"quarterly","paymentDate":"2021-03-11","recordDate":"2021-02-18","refid":2080289,"symbol":"MSFT","id":"DIVIDENDS","key":"MSFT","subkey":"2080289","date":1613520000000,"updated":1608134902000}],"splits":[]}'
  recorded_at: Wed, 03 Feb 2021 02:44:26 GMT
recorded_with: VCR 6.0.0
